/* Style sheet for www.linuxselfhelp.com
	by Edward Buck */
/* Note: Global attributes are first; page specific attributes come later */

/* GLOBAL ATTRIBUTES
   ----------------- */

/* Default site-wide attributes */
body {
	margin: 0;
	text-align: center;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

img {
	border: 0;
/*	vertical-align: top;*/
/* Using vertical-align here works to align images in a single div block
but for some reason, it leaves a 1-2px space at bottom (on IE) */
}

a:link {
	color: #00386A;
}

a:active {
	color: #800000;
}

a:visited {
	color: #464646;
}

a:hover {
	color: #B99400;
}

h2 {
	color: #003264;
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

table {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td, th {
	margin: 0;
	padding: 0; /*this value is not 0 by default*/
	border: 0;
}


/* Site-wide text styles */
.cats {
	font-size: 14px;
	font-weight: bold;
}

.subcats {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
}

.genlarge {
	font-size: 14px;
}

.gen {
	font-size: 12px;
}

.genmed {
	font-size: 11px;
}

.gensmall {
	font-size: 10px;
}


/* Site-wide header and footer blocks */
div.header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	background: #004080;
	border-bottom: 1px solid #CFCFCF;
}

div.navbar {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 18px;
	background: #6E7C88;
	border-bottom: 1px solid #5F6A74;
	/*vertical-align: middle;*/
}

div.headline {
	margin: 20px auto 0;
	padding: 1px;
	width: 380px;
	background: #EBEBEB;
	border: 1px solid #00386A;
	font-size: 13px;
	font-weight: bold;
}

#navbar_bottom {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 0;
	text-align: center;
	font-size: 13px;
	width: 660px;
	border-top: 2px solid #004080;
}

#copyright {
	margin: 3px 0 6px;
	font-size: 10px;
	font-style: italic;
}


/* Main body block formatting */
div.main {
	margin: 0 auto;
	padding: 18px 0 0;
	width: 660px;
	text-align: left;
}

div.columns {
	float: left;
	margin: 0;
	padding: 0;
	width: 235px;
}

div.columnright {
	float: left;
	margin: 0;
	padding: 0;
	width: 190px;
	text-align: center;
}

div.date {
	margin: 6px auto 6px;
	font-weight: bold;
}

div.location {
	margin: 0 auto;
	padding: 18px 0 0;
	width: 660px;
	text-align: left;
}

div.space {
	height: 16px;
	clear: both;
}

div.section {
	margin: 4px auto 0;
	padding: 2px 2px 1px;
	height: 18px;
	width: 660px;
	background: #004080;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}

div.docs {
	margin: 16px 16px 16px;
	text-align: left;
}

p.home {
	padding: 3px 0 0 2px;
}


/* General styles */
.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.red {
	color: #FF0000;
}

/* Side-bar attributes */
div.sidebar {
	margin: 0 auto;
	width: 180px;
	background: #F6F6F6;
}

div.sidebar_img {
	padding: 2px 0 0;
	height: 18px;
	clear: both;
	background: #004080;
	color: #FFFFFF;
	font-weight: bold;
}

div.sidebar_imgbottom {
	height: 16px;
	clear: both;
	background: #FFFFFF;
}

div.sidebar_box {
	margin: 2px 0 5px;
	text-align: left;
	font-size: 11px;
}

div.sidebar_entry {
	padding: 3px 0 3px;
	clear: both;
}

div.sidebullet {
	float: left;
	width: 20px;
/*	padding-left: 1px;*/
}

div.sidelink {
	float: left;
	width: 155px;
	padding: 2px 0 1px;
}

div.sidebar_cat {
	margin: 6px 0 0 6px;
	float: right;
	width: 180px
}

div.xhtmlimg {
	margin: 0 0 10px;
	clear: both;
}

/* Nice overview of floats:
	http://css.maxdesign.com.au/floatutorial/introduction.htm  */
